<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/styles.css">
	<title>Fræðslumyndbandsleigan</title>
</head>
<body>
	<script src="../js/myndband.js"></script>
	<header>
        <div class="row col col-12 title">
            <!--Title, depending on the video Goes Here -->
            <h2><%= video.videos[id].title %></h2>
            <div class="row"></div>
        </div>
	</header>
	<main class="grid">
		<div class="row col col-12">
			<figure class="videoContainer">
                <!--Video and Buttons Go Here -->
                <video id="video" controls preload="metadata" poster="<%=video.videos[id].poster%>">
                    <source src=".<%=video.videos[id].video%>" type="video/mp4" />
                </video>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio nisi, blandit quis turpis nec, ultrices placerat ante. Suspendisse viverra enim id tempus interdum.</p>
	            <p class="description">Maecenas cursus nec leo ac auctor</p>    
			</figure>
		</div>
		<div class="related">
			<h2>Tengd myndbönd</h2>
			<div class="row related2">
                <!--Related Video Go Here -->
                <% for(var i = 0; i< tengd.length; i+=2){%>
                    <a href="video/<%=video.videos[tengd[i]].id%>"></a>
                    <div class="myndband<%=video.videos[tengd[i]].id%> col col-4 col-sm-12 myndband">
                        <div class="myndband-poster">
                            <div class="image">
                                <img src=".<%=video.videos[tengd[i]].poster%>">
                                <div class="myndband-poster-time">
                                    <% let min = Math.floor(video.videos[tengd[i]].duration/60) %>
                                    <% let sec = video.videos[tengd[i]].duration%60 %>
                                    <p><%= ('0' +min).slice(-2) +":"+('0' +sec).slice(-2) %></p>
                                </div>
                            </div>
                            <div class="myndband-title">
                                <p><%=video.videos[tengd[i]].title%></p>
                            </div>
                            <div class="myndband-time">
                            </div>
                        </div>
                    </div>
                <% }%>
			</div>
		</div>
	</main>
	<footer>
		<div class="col col-6 col-md-9">
			<div class="rect"></div>
			<a href="../">Til baka</a>
      </div>
	</footer>
</body>
</html>
